workflows/Renew stats.json
{
  "name": "Renew stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e6978dca-3f28-4167-a7bb-5e8c0dd791e9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8HXyxdJLGH6NolFD",
          "mode": "list",
          "cachedResultUrl": "/workflow/8HXyxdJLGH6NolFD",
          "cachedResultName": "Update album stats"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artistName": "={{ $json.artist }}",
            "albumName": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artistName",
              "displayName": "artistName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "albumName",
              "displayName": "albumName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "bde5a82b-3073-4586-81c6-220a452b77f8",
      "name": "Call 'Update album stats'"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Album",
          "mode": "list",
          "cachedResultName": "Album"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "hidden",
              "condition": "!=",
              "value": "true"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "statsUpdatedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "dafaedb8-5716-4dc3-8101-58314cb951d9",
      "name": "Select an album with old stats",
      "credentials": {
        "postgres": {
          "id": "scR9f4uyXxBIx9HD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select an album with old stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select an album with old stats": {
      "main": [
        [
          {
            "node": "Call 'Update album stats'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7HrDrsQKECTlnEFk"
  },
  "versionId": "1591ce96-e589-4203-a2ba-e35b401a61fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1afc0d7b3b04f9ec037dfb276d1262005b9e3099e9cc2b8934e87deae4ed97ec"
  },
  "id": "mPkhoDTYWLD6qQIB",
  "tags": []
}