workflows/Renew tags.json
{
  "name": "Renew tags",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "67928916-d40b-4d73-87af-a00f8b2e1b3f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NRG7R8WHauwmER9t",
          "mode": "list",
          "cachedResultUrl": "/workflow/NRG7R8WHauwmER9t",
          "cachedResultName": "Update album tags"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artistName": "={{ $json.artist }}",
            "albumName": "={{ $json.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artistName",
              "displayName": "artistName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "albumName",
              "displayName": "albumName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "9032aa6b-06a2-4752-8bdf-0ae2f7fb2239",
      "name": "Call 'Update album tags'"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Album",
          "mode": "list",
          "cachedResultName": "Album"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "hidden",
              "condition": "!=",
              "value": "true"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "tagsUpdatedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "c27839db-79b1-43b1-8909-23a40847df79",
      "name": "Select an album with old tags",
      "credentials": {
        "postgres": {
          "id": "scR9f4uyXxBIx9HD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select an album with old tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select an album with old tags": {
      "main": [
        [
          {
            "node": "Call 'Update album tags'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7HrDrsQKECTlnEFk"
  },
  "versionId": "08030648-538d-45fb-9275-f29b10d4f25d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1afc0d7b3b04f9ec037dfb276d1262005b9e3099e9cc2b8934e87deae4ed97ec"
  },
  "id": "0XRuLXaT5RHwYE0n",
  "tags": []
}