workflows/Scrape for a listful tag.json
{
  "name": "Scrape for a listful tag",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        48
      ],
      "id": "0444ff81-4f34-4284-96f2-7cd5265b0d1f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "-1001699039876",
        "text": "=Зібрано альбоми для знайомого тега: {{ $json.name }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        48
      ],
      "id": "9ee4bbce-ec85-4ff9-b1d7-d706df3d898b",
      "name": "Send a text message",
      "webhookId": "d75d90a7-2937-4c4c-a970-2d8ef2dcc1f4",
      "credentials": {
        "telegramApi": {
          "id": "eGEk4dS2hDuvw99B",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bln38gbNOEEqGBe8",
          "mode": "list",
          "cachedResultUrl": "/workflow/bln38gbNOEEqGBe8",
          "cachedResultName": "Scrape for a tag"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tagName": "={{ $json.name }}"
          },
          "matchingColumns": [
            "tagName"
          ],
          "schema": [
            {
              "id": "tagName",
              "displayName": "tagName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        48
      ],
      "id": "63dfab78-6dd0-4054-be2b-d80018cb9540",
      "name": "Call 'Scrape for a tag'"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Tag",
          "mode": "list",
          "cachedResultName": "Tag"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "albumsScrapedAt",
              "condition": "IS NOT NULL"
            },
            {
              "column": "listUpdatedAt",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "albumsScrapedAt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        48
      ],
      "id": "c54eb52f-152e-4198-82a7-8aa02fb099b3",
      "name": "Pick a listful tag",
      "credentials": {
        "postgres": {
          "id": "scR9f4uyXxBIx9HD",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pick a listful tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Scrape for a tag'": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick a listful tag": {
      "main": [
        [
          {
            "node": "Call 'Scrape for a tag'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "7HrDrsQKECTlnEFk"
  },
  "versionId": "bfe3f92f-016b-45ab-afc8-ce65e5a35b17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1afc0d7b3b04f9ec037dfb276d1262005b9e3099e9cc2b8934e87deae4ed97ec"
  },
  "id": "uEUnqB50MNDuSfpu",
  "tags": []
}